fichier_maven/src/main/resources/student_house.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="residences_etudiantes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="residence" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="chambres">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="chambre" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="numero" type="xs:string" use="required"/>
                                                <xs:attribute name="type" type="xs:string" use="required"/>
                                                <xs:attribute name="prix" type="xs:decimal"/>
                                                <xs:attribute name="disponible" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="etudiants" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="etudiant" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="paiement">
                                                        <xs:complexType>
                                                            <xs:attribute name="mois" type="xs:string" use="required"/>
                                                            <xs:attribute name="montant" type="xs:decimal" use="required"/>
                                                            <xs:attribute name="statut" type="xs:string" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:ID" use="required"/>
                                                <xs:attribute name="nom" type="xs:string" use="required"/>
                                                <xs:attribute name="genre" type="xs:string"/>
                                                <xs:attribute name="age" type="xs:integer"/>
                                                <xs:attribute name="chambre_ref" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>

                        <xs:attribute name="id" type="xs:ID" use="required"/>
                        <xs:attribute name="nom" type="xs:string"/>
                        <xs:attribute name="localisation" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
