fichier_maven/src/main/resources/student_house.dtd

<!ELEMENT residences_etudiantes (residence+)>
        <!ELEMENT residence (chambres, etudiants?)>
        <!ATTLIST residence id ID #REQUIRED nom CDATA #REQUIRED localisation CDATA #IMPLIED>

        <!ELEMENT chambres (chambre+)>
        <!ELEMENT chambre EMPTY>
        <!ATTLIST chambre numero CDATA #REQUIRED type CDATA #REQUIRED prix CDATA #IMPLIED disponible (oui|non) #IMPLIED>

        <!ELEMENT etudiants (etudiant+)>
        <!ELEMENT etudiant (paiement)>
        <!ATTLIST etudiant id ID #REQUIRED nom CDATA #REQUIRED genre (M|F) #IMPLIED age CDATA #IMPLIED chambre_ref CDATA #IMPLIED>

        <!ELEMENT paiement EMPTY>
        <!ATTLIST paiement mois CDATA #REQUIRED montant CDATA #REQUIRED statut (payé|non_payé) #REQUIRED>
