src/bike.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="systeme_bike">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bikes" type="bikesType"/>
                <xs:element name="clients" type="clientsType"/>
                <xs:element name="locations" type="locationsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="bikesType">
        <xs:sequence>
            <xs:element name="bike" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="marque" type="xs:string"/>
                        <xs:element name="modele" type="xs:string"/>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="prix" type="xs:decimal"/>
                        <xs:element name="disponibilite" type="xs:string"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                    <xs:attribute name="ref" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="clientsType">
        <xs:sequence>
            <xs:element name="client" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nom" type="xs:string"/>
                        <xs:element name="prenom" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="telephone" type="xs:string"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                    <xs:attribute name="ref" type="xs:string" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="locationsType">
        <xs:sequence>
            <xs:element name="location" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bike_ref" type="xs:string"/>
                        <xs:element name="client_ref" type="xs:string"/>
                        <xs:element name="date_debut" type="xs:date"/>
                        <xs:element name="date_fin" type="xs:date"/>
                        <xs:element name="prix_total" type="xs:decimal"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
